
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/clinico.jpg" alt="">
        <div class="item-meta">
          <h2>CLINICO</h2>
          <p>Software para la administración de servicios de medicina </p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/e-medic.jpg" alt="">
        <div class="item-meta">
          <h2>e-MEDICO</h2>
          <p>Plataforma web para la administración de centros médicos e historias clínicas</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/integrado.jpg" alt="">
        <div class="item-meta">
          <h2>SOLVER</h2>
          <p>Software de gestión integrada integrado</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/survey.jpg" alt="">
        <div class="item-meta">
          <h2>OsB SURVEY</h2>
          <p>Aplicación movil para encuestas</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/e-comerce.jpg" alt="">
        <div class="item-meta">
          <h2>e-COMMERCE</h2>
          <p>Plataforma web para la gestión comercial.</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/sales.jpg" alt="">
        <div class="item-meta">
          <h2>OsB SALES</h2>
          <p>Aplicación movil para ventas</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/sistema-cola.jpg" alt="">
        <div class="item-meta">
          <h2>Sistema de Atención de colas</h2>
          <p>Plataforma web para la administración de atención de colas.</p>
        </div></a>
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/school.jpg" alt="">
        <div class="item-meta">
          <h2>OsB SCHOOL</h2>
          <p>plataforma y aplicación movil para colegios y guarderías</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/active-erp.jpg" alt="">
        <div class="item-meta">
          <h2>Active ERP</h2>
          <p>Sistema integrado de planeamiento para toda la empresa.</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/e-lab.jpg" alt="">
        <div class="item-meta">
          <h2>e-LAB</h2>
          <p>Plataforma web para la administración de servicios de análisis clínicos.</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/img-sistema-gestion-taller.jpg" alt="">
        <div class="item-meta">
          <h2>Sistema de Gestión de Taller Mecánico</h2>
          <p>Plataforma web para control de ingresos, egresos y reservas de servicio técnico.</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/img-sistema-gestion-restaurant.jpg" alt="">
        <div class="item-meta">
          <h2>Sistema de Gestión de Restaurant</h2>
          <p>Plataforma web para gestión de venta de comida y control de ingresos y egresos.</p>
        </div></a>
    </div>
  </section>

