
  <header class="rk-portfolio-cover  item-inside-1" >

    <div class="item-inside__meta">
    <h1 class="ae-u-bolder rk-portfolio-title ">Bienvenidos a Zgen Bolivia</h1>
      <p class="ae-theta rk-portfolio-category ">Productos y Servicios que aportan valor a tu negocio </p>
    </div>

  </header>
  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
      <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title ">NUESTROS SERVICIOS</h2>
        <p class="au-mb-3">Somos expertos en el desarrollo de soluciones informáticas, contamos con un equipo multidisciplinario <br>con la experiencia necesaria para ayudar a nuestros clientes a conseguir sus objetivos. </p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
        <p class="rk-portfolio-inner-client "><span class="ae-lambda">Client: </span><span class="ae-u-bolder">Agency Design Studio</span></p>
        <p class="au-underline rk-portfolio-inner-website "><a href="#0" class="ae-kappa">{{ _is.info.email }}</a></p>
        <p class="ae-kappa ae-u-bold rk-portfolio-inner-date "><span class="ae-u-bolder">{{ date }}/{{ mes }}/{{ anio }}</span></p>
      </div>
    </div>
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h2 class="ae-u-bolder">Desarrollo de software a medida</h2>
        <p class="ae-eta">Desarrollamos la solución que tu negocio requiera en plataformas de escritorio, web y móvil.</p>

      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/desarrollo-de-sofware.png" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/desarrollo-móvil-del-app-equipo-experimentado-d-plano-isométrico-66721592.jpg" alt="Urku Portfolio"></div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <h3 class="ae-u-bolder">Implementación de nuestros productos</h3>
        <p class="au-mb-3">Ponemos en marcha el producto que tu negocio requiera de nuestra actual cartera de productos: <br>ERP, CRM, Portal Corporativo, Intranet Corporativa, MOODLE, otros. </p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Dirección Virtual de TI</h4>
        <p class="ae-eta">Asesoramiento en estrategias del área de Tecnología de Información creando gobierno de TI en tu organización para maximizar tu inversión en tecnología.</p>

      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg--auto"><img src="assets/img/hero.jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6"><img src="assets/img/desarrollo-software.jpg" alt="Urku Portfolio"></div>
      <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <h4 class="ae-u-bolder">Versión móvil</h4>
        <p class="ae-eta">Acceso a tus sistemas de información, ERP, etc desde tu móvil ó tablet, compatibles 100%, lo que te da libertad incluso durante un viaje, en tiempo real de monitorear las operaciones de tu negocio.</p>

      </div>
    </div>
    <div class="ae-grid--alt test">
      <div class="ae-grid__item--alt item-sm--auto item-sm--offset-1 item-lg--offset-0 item-sm--end item-sm--bottom">
        <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
          <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">1.</span>
            <p class="au-mt-1">Diseñar arquitecturas empresariales multicanal.</p><span class="ae-u-boldest">2.</span>
            <p class="au-mt-1">Desarrollar e implementar soluciones corporativas web y/o móvil.</p>
          </div>
          <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">3.</span>
            <p class="au-mt-1">Integrar soluciones/heterogéneas, utilizando estándares extendidos y normativizados.</p>
          </div>
        </div>
      </div>
      <div class="ae-grid__item--alt item-sm--auto item-lg-3 item-lg--offset-1 item-lg--end"><img src="assets/img/ventajas-diseno-web-responsive.jpg" alt="Urku Portfolio"></div>
    </div>
  </div>
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Next Project<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></div>
  </div>

