
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/adal.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{_is.info.equipo_trabajo[0]}}</h5>
      <p class="ae-u-bolder au-mb-3">Desarrollador web</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Encargado de la implementacion de los proyectos, especialista en el desarrollo de paginas web y aplicaciones moviles.</p><a href="#0" class="ae-u-bolder au-underline">{{ _is.info.email }}</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/kevin.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ _is.info.equipo_trabajo[1]}}</h5>
      <p class="ae-u-bolder au-mb-3">Fundador / CEO</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Fundador de la StarUp Zgen,con una amplia trayectoria en el area y conocimientos de programcion web-movil.</p><a href="#0" class="ae-u-bolder au-underline">@kevinalvarez</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/mark.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ _is.info.equipo_trabajo[2]}}</h5>
      <p class="ae-u-bolder au-mb-3"> Jefe de marketing</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">nuestro jefe marketing tiene el proposito de que nuestra empresa sea conocida a nivel nacional como internacionalmente,promocionandola con su experiencia en publicidad digital </p><a href="#0" class="ae-u-bolder au-underline">@patrickanderson</a>
    </div>
  </div>

  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Acerca de Nosotros</h6>
      <p class="au-lh-3">Zgen BOLIVIA es una empresa con una amplia trayectoria en desarrollo de software y aplicaciones móviles que tiene un equipo de colaboradores comprometidos con la calidad de sus productos y servicios.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Mision</h6>
      <p class="au-lh-3">Zgen BOLIVIA es una empresa de comercialización de productos y prestación de servicios tecnológicos, con talento humano comprometido para brindar el soporte necesario a las actividades estratégicas y los modelos de negocio de las empresas de nuestro medio"</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Vision</h6>
      <p class="au-lh-3">Ser reconocidos como una empresa tecnológica de alto prestigio a nivel nacional, líder permanente en la búsqueda de calidad en sus productos y servicios, atenta a las tendencias de innovación en diferentes áreas de la empresa </p>
      <p class="au-lh-3">comprometida con la atención al cliente para que logren resultados acordes a las estrategias de negocio"</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>

